.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root 
> .root-category 
> .list-of-subcategories 
> .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root 
> .root-category 
> .sub-category 
> .list-group 
> .list-of-subcategories 
> .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root 
> .root-category 
> .sub-category 
> .list-group 
> .list-of-subcategories 
> .sub-category 
> .list-group 
> .list-of-subcategories 
> .list-group-item {
  padding-left: 65px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.input-group {
  padding-bottom: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}
